{
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "modules": false,
        "targets": {
          "browsers": "last 2 chrome versions"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-flow-strip-types"
  ]
}
